header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 4px solid var(--main-color-blue);
  padding: 10px;
  background-color: var(--main-color-header);
}

/* TODO: change when svg logo is ready */
#logo {
  height: 40px;
}
header a#help {
  display: none;
}
#help > img {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

#help a {
  text-decoration: none;
  color: var(--main-color-font);
}
header > span.MenuButton {
  margin-right: 5px;
}

.headerText {
  font-size: 40px;
  height: 40px;
  transform: scaleX(0.95);
  font-weight: 300;
  margin-left: 10px;
  cursor: pointer;
}
.logoContainer {
  height: 50px;
  display: flex;
  align-items: center;
}

.HeaderMenu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.HeaderMenu span {
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 150%;
  padding: 0 10px;
  transition: color 0.5s ease-in;
  cursor: pointer;
}

.selectedMenuItem {
  color: var(--main-color-blue);
}
@media only screen and (min-width: 768px) {
  header > .dropdown {
    display: none;
  }
  header a#help {
    display: flex !important;
    align-items: ;
  }
  .helpIconContainer {
    height: 100%;
    align-items: flex-end;
    display: flex;
    padding-top: 18px;
  }
  .MenuList.desktopMenu {
    margin-bottom: -4px;
    align-items: flex-end;
    display: flex !important;
  }
}

@media only screen and (min-width: 1224px) {
  #App header {
    padding-left: 10.1%;
    padding-right: 10.1%;
  }
}
@media only screen and (max-width: 766px) {
  .logoContainer {
    height: 25px;
  }
  .logoContainer > #logo {
    height: 25px;
  }
  .logoContainer > .headerText {
    font-size: 25px;
    height: 30px;
  }
  header > .helpIconContainer {
    display: none !important;
  }
}
