.loginForm > * {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.Login .loginForm > .buttonWrapper {
  justify-content: flex-end;
}

.loginForm {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
