.ComboBox {
  overflow: visible;
}

.ComboBox label {
  position: relative;
  overflow: visible;
}
.ComboBox input {
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
}
.ComboBox .inputWrapper {
  border: 1px solid var(--main-color-font);
}

.options {
  position: fixed;
  top: 100%;
  width: 100%;
  border: 1px solid var(--main-color-font);
}
.options > div {
  min-height: 30px;
  width: 100%;
}
