.Buttons {
  display: flex;
  justify-content: space-between;
  height: 40px !important;
  min-height: 0;
  margin-top: 10px;
  flex-shrink: 0;
}
.Buttons > div {
  display: flex;
}
.Buttons button {
  display: flex;
  align-items: center;
}
.Buttons button img {
  margin-left: 10px;
}
.Buttons > div > button:first-child {
  margin-right: 10px;
}

.ActiveTableIndicator {
  display: flex;
  align-items: center;
}
.reportPreview > iframe,
.reportPreview {
  height: 80vh;
  width: 80vw;
}
