.Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 600px;
}

.Form > label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Form > label select {
  margin: 0;
}

.Form > label > span:first-child {
  width: 33%;
}
.Form > label > *:last-child {
  width: 60%;
}

.FormActions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.FormActions > * {
  margin-bottom: 5px;
  width: 48%;
}
.FormActions label:hover {
  background-color: var(--main-color-select-btn);
}
