.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  /* box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2); */
  padding: 5px 10px;
  color: var(--main-color-font);
  background-color: var(--main-color-select-btn);
  margin-bottom: 4px;
  height: 30px;
  border-radius: 3px;
  transition: background-color 0.2s ease-out;
}

.selectedListItem {
  background-color: var(--selected-color);
  transition: background-color 0.2s linear;
  color: white;
}

.selectedListItem * {
  color: var(--main-color-header);
}

.disabledListItem,
.disabledListItem * {
  pointer-events: none;
}
