.ag-react-container {
  display: flex;
  align-items: center;
}
.GridWrapper {
  position: relative;
}
.GridWrapper .ag-center-cols-viewport {
  overflow-x: visible;
}
.ShowHideColumns {
  position: absolute;
  min-width: 252px;
}
.ShowHideColumns > div {
  background-color: #fff;
  max-width: 150px;
  overflow: auto;
  max-height: 80vh;
}
.showHideColumn {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  padding: 5px;
}
.showHideColumn:hover {
  background-color: var(--main-color-select-btn);
  cursor: pointer;
}

.ag-floating-filter-button {
  display: none !important;
}
.ag-cell {
  border-color: transparent !important;
}
.contextMenu {
  max-height: 50vh;
  z-index: 1000;
  background-color: #fff;
  overflow: auto;
  box-shadow: 7px 6px 30px -8px rgba(0, 0, 0, 0.84);
  position: relative;
  padding-top: 30px;
  min-width: 260px;
}
.contextMenuHeader {
  font-size: 120%;
  padding: 5px 0;
  margin: 0 5px;
  border-bottom: 1px solid var(--main-color-font);
  position: fixed;
  width: 250px;
  margin-top: -30px;
  background-color: #fff;
}

.menuHidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

.DateFilterModal {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}
.DateFilterModal > * {
  width: 100%;
}
.dateInputWrapper {
  display: flex;
  justify-content: space-between;
}
.dateInputWrapper > div {
  display: flex;
  flex-direction: column;
}
.noButtonsModal .modalBody > div {
  padding-bottom: 0;
}
.modalButtons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.dateFilterValueWrapper {
  height: 100%;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 30px;
}
.dateFilterValueWrapper > div {
  font-weight: normal;
  background-color: #fff;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 3px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  padding: 0 5px;
}
.ag-floating-filter-body > *,
.ag-floating-filter-body {
  width: 100%;
}

.ag-header-icon.ag-header-label-icon.ag-filter-icon {
  display: none;
}

.carousel-root {
  height: 100%;
}
div.ag-root .ag-cell-focus {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.gridOverlay {
  position: absolute;
  width: 100%;
  height: calc(100% - 65px);
  top: 65px;
  pointer-events: none;
}
