.UploadButton {
  position: relative;
}

.UploadButton input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.slikeModal {
  height: 50vh;
  width: 50vw;
}
.modalBody,
.modalBody > div {
  height: 100%;
  width: 100%;
}

.SlikeModal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.SlikeModalBody {
  height: 100%;
  width: 100%;
  display: contents;
}

.SlikeModal .Buttons {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
}
.slikeModal .modalFooter {
  display: none;
}

.carousel-root {
  overflow: hidden;
}

.carouselFrame {
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.carouselFrame img {
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.carouselFrame iframe {
  margin: 0 !important;
  width: 100% !important;
}

.slider-wrapper,
.slider-wrapper > ul,
.carousel.carousel-slider {
  max-height: 100%;
  height: 100%;
}

.noImages {
  background-color: #fff;
  height: 100%;
  font-size: 120%;
  display: flex;
  align-items: center;
}
.deleteImgButton {
  margin-right: auto;
}
