.inputWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.inputWrapper input {
  height: 100%;
  width: 100%;
}
.inputError {
  border-color: var(--error-color);
}
.inputWarning {
  border-color: var(--warning-color);
}

.inputWarning .tooltip::after {
  border-color: var(--warning-color) transparent transparent transparent;
}
.inputWarning .tooltip {
  border-color: var(--warning-color);
}
.inputError .tooltip {
  border-color: var(--error-color);
}
.inputError .tooltip::after {
  border-color: var(--error-color) transparent transparent transparent;
}
.tooltip {
  display: block;
  background-color: #fff;
  position: absolute;
  width: 100%;
  bottom: calc(100% + 5px);
  left: 50%;
  margin-left: -50%;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-color-font) transparent transparent transparent;
}

.closeWarning {
  position: absolute;
  right: 5px;
  top: 0px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.closed {
  display: none;
}
