.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Home .homePageOptions {
  height: auto !important;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.Home .homePageOptions > * {
  width: 48%;
  flex-shrink: 0;
  padding: 10px;
  cursor: pointer;
  font-weight: lighter;
}
.homePageOptions span {
  font-size: 160%;
  cursor: pointer;
  font-weight: lighter;
}
.Home .homePageOptions > *:hover span {
  color: var(--main-color-blue);
  text-decoration: underline;
  font-weight: normal;
}
