.Select > select {
  width: 100%;
  height: 30px;
  background-color: var(--main-color-header);
  cursor: pointer;
  margin-top: 10px;
}

.Select > select > option {
  cursor: pointer;
}

.Select > span {
  margin-bottom: 5px;
}
