.RadioButtons label {
  display: flex;
  padding: 3px 0;
  align-items: center;
}
.RadioButtons > *:first-child {
  margin-top: 6px;
}

.RadioButtons input {
  height: 17px;
  width: 17px;
  margin-top: 0;
}
.RadioButtons label > span {
  padding-left: 3px;
  font-size: 110%;
}
