.Srbolab {
  cursor: pointer;
  font-size: 200%;
  font-weight: 100;
}
.mobileMenuList {
  position: fixed;
  left: 0;
  width: 100vw;
  text-align: center;
  margin: 0;
  z-index: 1002;
}
.mobileMenuList.hideMenu .overlay {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.mobileMenuList.hideMenu > * {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.MenuList .listItem {
  margin: 0;
  height: 30px;
  padding: 5px;
  padding-left: 15px;
  color: var(--main-color-font);
  box-shadow: none;
}
.MenuList .listItem > div {
  font-size: 90%;
}
.overlay {
  max-height: 1000px;
  background: grey;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  opacity: 0.3;
  transition: max-height 0.3s ease-out;
}

.mobileMenuList ul {
  margin: 0;
  overflow: hidden;
}
li,
button,
label,
input,
.iconContainer:hover {
  cursor: pointer;
}

.MenuList.mobileMenuList #help {
  display: block;
}
.MenuList > * {
  width: 100%;
}
.MenuList {
  overflow: auto;
}
.desktopMenu {
  width: 30%;
  height: 100%;
  display: none !important;
}
.desktopMenu .overlay {
  display: none;
}
.MenuList .selectedCategory {
  overflow: hidden;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
  overflow: visible;
  cursor: default;
}
.MenuList .selectedCategory > div {
  color: var(--main-color-blue);
  transform: scale(1.02);
  transition: transform 0.2s ease;
}
.MenuList .listItem > div:hover {
  text-decoration: underline;
}
.MenuList ul {
  margin: 0;
  overflow: auto;
  padding: 5px 0;
}
.expanded,
.selectedAccordion {
  background-color: white;
}
.expanded .category {
  border-bottom: none;
}
.MenuList ul * {
  background-color: transparent !important;
}
.MenuList .listItem {
  border-radius: 0;
}
.menuListItem.selected * {
  color: var(--main-color-blue);
}
.category {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
  background-color: var(--main-color-select-btn);
  cursor: pointer;
  border-bottom: 1px solid white;
}

.MenuList .disabledListItem div {
  opacity: 0.5;
  pointer-events: none;
}
.mobileMenuList {
  transition: height 0.5s ease-out;
  overflow: hidden;
  background-color: white;
  overflow: auto;
  height: calc(100vh - 75px);
  position: absolute;
  top: 75px;
}
.menuExpanded {
  height: calc(100vh - 75px);
}
.menuCollapsed {
  height: 0;
}
.MenuList #help div {
  font-size: 100%;
}
.MenuList #help a {
  font-size: 90%;
}
.MenuButton {
  font-size: 200%;
}
.dropdown {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.MenuList.desktopMenu {
  overflow: hidden;
}
.MenuList > div {
  margin-bottom: 30px;
  overflow: auto;
}
@media only screen and (min-width: 768px) {
  #pageContainer > .desktopMenu.MenuList {
    padding: 0;
    display: flex !important;
    padding: 0 !important;
  }
  #pageContainer > .MenuList #help {
    display: none;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 766px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .mobileMenuList ul {
    max-height: 85vh;
    overflow: auto;
  }
}
