#root {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#App {
  background-color: var(--main-color-bkg);
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  margin: 12px 0;
  /* overflow: hidden; */
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  position: relative;
  transition: margin 0.5s ease;
  background-color: var(--main-color-header);
  padding-bottom: 7px;
}
main > #pageContainer {
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main.noScroll * {
  overflow: hidden !important;
}

textarea {
  border: 1px solid var(--main-color-select-btn);
}

#pageContainer > div {
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  ￼width: 100%;
  height: 100%;
}

#App > * {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.version {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.error {
  color: var(--main-color-blue);
}

.warning {
  color: var(--warning-color);
}

.FormButtons {
  min-height: 30px;
  display: flex;
  /* margin: 30px 0 5px 0; */
  padding-bottom: 5px;
  margin-top: auto;
  justify-content: flex-end;
  align-self: flex-end;
  flex-shrink: 0;
}

.FormButtons button {
  min-width: 75px;
  height: 30px;
}
.Overviews > .overviewLabel {
  font-weight: 600;
  padding-left: 5px;
}
.filterTAR {
  width: 100%;
}
body .Select select,
select {
  font-weight: 300;
  border: none;
  background-color: var(--main-color-select-btn);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  appearance: none;
  padding: 5px 30px 5px 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("../assets/icons/down_arrow.svg");
}
#pageContainer div .ag-row-selected {
  z-index: 2;
}

.noButtonsModal .modalFooter {
  display: none;
}
.Logout {
  position: fixed;
  bottom: 30px;
  left: 15px;
  color: var(--main-color-font);
  z-index: 100;
  height: auto !important;
  font-size: 120%;
}

.Logout:hover {
  cursor: pointer;
  text-decoration: underline;
}
.Home {
  border: 1px solid #bdc3c7;
  margin: 0 5px;
}
.ModalDialog {
  min-width: 300px;
}
.modalImageContainer img {
  height: 30px;
  width: 30px;
}
*:not(.react-datepicker__navigation):focus {
  border: 1px dotted gray !important;
  border-radius: 3px;
}

.reactSelect > div:focus-within {
  border: 1px dotted gray !important;
  border-radius: 3px;
}
.reactSelect > div:focus-within input {
  border: none !important;
}
#pageContainer > div:first-child {
  width: 10%;
}
#pageContainer > div:last-child {
  width: 90%;
  /* padding: 20px; */
}
@media only screen and (min-width: 768px) {
  #App header {
    padding: 15px;
  }
  #pageContainer .desktopMenu {
    display: flex !important;
  }

  main {
    margin: 8px;
    padding: 5px;
    padding-bottom: 7px;
  }
  main > #pageContainer {
    flex-direction: row;
    padding: 2px;
    padding-bottom: 5px;
  }
  #pageContainer > div {
    width: 100%;
  }
  #pageContainer > div > .EditWrapper {
    width: 100%;
    padding: 10px 0px 0 0px;
  }
  #pageContainer > div > div {
    height: 100%;
  }
  .version {
    right: 3px;
  }
  .FormButtons {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
  }
  main > #pageContainer {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1224px) {
  main {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
@media only screen and (max-width: 768px) {
  #pageContainer > div {
    padding: 7px;
  }
}
