.ModalDialog.v_vozilo_sert {
  height: 99vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
}
.predmetFormaWrapper .Overlay {
  z-index: 500;
}
.ModalDialog.v_vozilo_sert .modalBody {
  height: 100%;
  overflow: hidden;
}
.ModalDialog.v_vozilo_sert .modalBody > div {
  height: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.Dokumenta input {
  height: 20px;
}
.Dokumenta {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px !important;
}
.Dokumenta > * {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}
.Dokumenta > *:not(.checkboxLabel):focus-within,
.Dokumenta > *:not(.checkboxLabel):hover {
  background-color: var(--main-color-select-btn);
}

.Dokumenta.Usluge {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Dokumenta.Usluge > * {
  width: 47%;
}

.Dokumenta .checkboxLabel {
  padding: 5px;
  width: 100%;
}

.Predmet {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  align-items: flex-start !important;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Predmet > * {
  width: 45%;
  padding: 10px;
  flex-shrink: 0;
  flex-direction: column;
}
.Predmet > * > * {
  padding: 5px;
}
.comboWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.comboWrapper > * {
  width: 100%;
}
.comboWrapper > .label {
  padding-left: 5px;
  margin-bottom: 5px;
}

.Napomena,
.Napomena > div {
  width: 100%;
}
.Napomena > div {
  display: flex;
  align-items: center;
}
.Napomena > div .label {
  min-width: 200px;
}
.Napomena textarea {
  width: 100%;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
}

.osovina {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 5px;
}
.osovina > * {
  width: 32%;
}
.osovina .TextBox {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.osovina .TextBox > * {
  width: 100%;
}
.osovina > * .inputLabel {
  padding-left: 0;
}
.osovina > * .inputWrapper {
  height: 25px;
}

.ModalDialog.v_vozilo_sert .modalFooter {
  display: none;
}
.ModalDialog.v_vozilo_sert {
  padding-bottom: 45px;
  position: relative;
}
.PredmetModalButtons {
  display: flex;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  flex-direction: row;
}
.PredmetModalButtons > div {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row !important;
  justify-content: flex-end;
}
.PredmetModalButtons > * {
  width: auto;
}
.PredmetModalButtons button {
  display: inline-block !important;
  padding-left: 15px;
  padding-right: 15px;
}

.multiSelect > div > *:first-child {
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 2px;
}
.predmetFormHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.predmetFormHeader .Select {
  margin-left: 10px;
}
.predmetFormHeader select {
  margin: 0;
}
