.Checkbox {
  margin-left: 5px;
}
.Checkbox input {
  opacity: 0;
}
.Checkbox label {
  position: relative;
}
.customCheckbox {
  position: absolute;
  left: 0;
  top: 3px;
  border: 1px solid var(--main-color-font);
  height: 16px;
  width: 16px;
  display: inline;
  color: var(--selected-color);
}
.customCheckbox > span {
  position: relative;
  color: var(--selected-color);
  font-weight: bold;
  display: none;
  height: 14px;
  width: 14px;
}

.customCheckbox > span span {
  display: flex;
  font-size: 17px;
  color: var(--selected-color);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  height: 16px;
  width: 16px;
  align-items: center;
}
.partly .customCheckbox > span .box {
  height: 8px;
  width: 8px;
  background-color: var(--selected-color);
}

input[type="checkbox"] ~ div > span {
  display: block;
}
.all .box {
  display: none;
}
.partly .checked {
  display: none;
}
