.Overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(233, 233, 233, 0.38);
}
.wait {
  height: 30px;
  width: 30px;
  margin: 0;
  animation: spin 1.5s linear infinite;
}
.Overlay > div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.Loading {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.Loading div {
  transform-origin: 40px 40px;
  animation: Loading 1.2s linear infinite;
}
.Loading div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #666666;
}
.Loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.Loading div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.Loading div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.Loading div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.Loading div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.Loading div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.Loading div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.Loading div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.Loading div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.Loading div:nth-child(10) {
  transform: rotate(270deg);
}
.Loading div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.Loading div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes Loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@media only screen and (min-width: 768px) {
  .Overlay > div {
    width: auto;
  }
}
