.ModalDialog {
  background-color: var(--main-color-header);
  padding: 10px 10px;
  font-size: 120%;
  width: 100%;
  border: 1px solid var(--main-color-font);
}

.ModalDialog h4 {
  margin: 0;
  text-align: center;
}
.modalFooter {
  text-align: right;
}
.modalFooter button {
  padding: 4px 15px;
  min-width: 100px;
  margin-left: 10px;
}
.modalBody > div {
  margin: 0;
  padding: 20px 0;
  display: flex;
}
.modalBody img {
  /* height: 35px; */
}
.modalBody > div > div {
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.modalBody > div > div:not(.modalImageContainer) {
  text-align: justify;
  white-space: pre-wrap;
}
