@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");

* {
  font-size: var(--main-size-font);
  box-sizing: border-box;
  color: var(--main-color-font);
  font-family: "Source Sans Pro", sans-serif;
  outline-width: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

::-ms-clear {
  display: none;
}

body {
  --main-color-header: #fff;
  --main-color-bkg: #0b4f6c;
  --main-color-blue: #0b4f6c;
  --main-color-font: #676867;
  --main-color-select-btn: #f0efef;
  --selected-color: #0f79b2;
  --selected-color-light: rgba(183, 215, 232, 1);
  --connected-color: #8cc63f;
  --main-size-font: 14px;
  --list-button-color: #a9a8af;
  --warning-color: #d27f00;
  --error-color: #b73333;
  --border-color: rgb(159, 159, 169);
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--main-color-bkg);
  height: 100vh;
}

pre {
  margin: 0;
}

.iconContainer {
  position: relative;
  height: 30px;
  width: 30px;
  padding: 0;
  border: none;
  background-color: inherit;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.shadow {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

/* .iconContainer:not(.RefreshButton):active { */
.iconContainer:active {
  transform: scale(0.9);
  transition: transform 0.2s ease-out;
}

.iconContainer object {
  stroke: var(--main-color-blue);
}

.iconContainer img {
  width: 100%;
}

.iconContainer.RefreshButton {
  border-radius: 3px;
}

#Ebene_1 > path {
  stroke: var(--main-color-blue) !important;
}

.spinnerContainer {
  width: 40px;
  height: 40px;
}

.spinnerContainer .defaultSpinner {
  width: 100%;
}
.rotate-160 {
  pointer-events: none;
  animation: cradle 1.5s ease-out;
}

.defaultButton {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  color: var(--main-color-font);
  background-color: var(--main-color-select-btn);
  border: none;
  padding: 5px 15px;
  height: 30px;
  margin-left: 7px;
  /* border-radius: 3px; */
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.defaultButton:first-child {
  margin-left: 0;
}
.defaultButton:active {
  transition: background-color 0s;
  background-color: var(--selected-color);
  color: white;
}
.defaultButton:active * {
  color: white;
}
.defaultButton:not(:hover) {
  /* background-color: var(--list-button-color); */
  transition: background-color 0.3s;
}
.disabled {
  user-select: none;
  opacity: 0.5;
  pointer-events: none;
}

a {
  color: var(--selected-color);
}
.align-right {
  text-align: right;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none !important;
}
.waitAnimation {
  animation: spin 1.5s linear infinite;
}

.selected {
  background-color: var(--list-button-color);
  color: white;
}

.inlineSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.invisible {
  visibility: hidden;
}

.inlineSelect > select {
  width: 40%;
}
.Select.inlineSelect > span {
  margin: 0;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
div[hidden] {
  display: none !important;
}

@keyframes cradle {
  30% {
    transform: rotate(150deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
