/* .PredmetiInput  .TextBox, */
.PredmetiInput > * {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
}
.PredmetiInput > * > span {
  padding-left: 5px;
  margin: 0;
}
.PredmetiInput > * > * {
  margin: 0 !important;
  width: 50%;
}
input {
  height: 100%;
  border-color: #9e9e9e;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.PredmetiInput .Select select {
  width: 50%;
}
